flask
flask_sqlalchemy
python-dotenv==1.0.0
colorama==0.4.6
rich==13.7.0
tkcalendar==1.6.1
matplotlib==3.7.1
numpy==1.24.3 
gunicorn
Flask==2.3.3
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
Werkzeug==2.3.7
SQLAlchemy==2.0.23
